/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	border-top:2px solid black;
}
.book-library{
	background-color:#ffffff;
}
h1{
	text-align:center;
}
.book img {
    display: block;
    margin: 0 auto;
}
.end .author{
	color:rgb(119, 119, 119);
}
.end .price{
	background-color:#2ecc71;
	text-align:center;
	color:white;
}